<header class="header">
   <div class="overlay">
    <div class="container">
        <div class="header__account">
            <a href="" class="account__link account__link--log">Log in</a>
            <a href="" class="account__link account__link--sign">Sign up</a>
        </div>
        <h2 class="header__subheader">URLAUBSGLÜCK</h2>
        <div class="clearfix"></div>
        <h1 class="header__h1">Share your holiday dreams</h1>
        <h3 class="header__subheader--tiny">And find the perfect partner to fullfill it</h3>
        <button class="header__button">Find your holiday partner</button>
    </div>
    </div>
</header>