<div class="container">
    <h2 class="masonry__header">Discover holiday activity ideas</h2>
    <div class="masonry__grid">
        <div class="grid__item"></div>
        <div class="grid__item"></div>
        <div class="grid__item"></div>
        <div class="grid__item"></div>
        <div class="grid__item grid__item--size2"></div>
        <div class="grid__item grid__item--size2"></div>
        <div class="grid__item"></div>
    </div>
    <h2 class="masonry__subheader">Discover holiday activity ideas</h2>
    <p class="masonry__paragraph">Hi! What are your holiday interests?</p>
    <input type="text" name="" id="masonry__input" placeholder="Enter your interests">
    <button class="masonry__button" id="search__img">Search partners</button>
</div>