<div class="container">
   <div class="partner clearfix">
    <h2 class="partner__header">Meet a partner for your best holiday</h2>
    <div class="partner__item partner__item--item1">
        <div class="item__img item__img--item1">
            <div class="item__img--small item__img--small1"></div>
        </div>
        <div class="item__subheader">Bradley Hunter</div>
        <div class="item__paragraph">Based in Chicago. I love playing tennis and loud music.</div>
    </div>
    <div class="partner__item partner__item--item2">
        <div class="item__img item__img--item2">
            <div class="item__img--small item__img--small2"></div>
        </div>
        <div class="item__subheader">Lucas Marsha</div>
        <div class="item__paragraph">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</div>
    </div>
    <div class="partner__item partner__item--item3">
        <div class="item__img item__img--item3">
            <div class="item__img--small item__img--small3"></div>
        </div>
        <div class="item__subheader">Heather Walker</div>
        <div class="item__paragraph">I'm a happy person that loves cats and climbing on mountains.</div>
    </div>
    <div class="partner__item partner__item--item4">
        <div class="item__img item__img--item4">
            <div class="item__img--small item__img--small4"></div>
        </div>
        <div class="item__subheader">Bradley Hunter</div>
        <div class="item__paragraph">Based in Chicago. I love playing tennis and loud music.</div>
    </div>
    </div>
    <button class="partner__button">See other partners</button>
</div>