<div class="container">
    <h2 class="sliders__header">How Urlaubsglück works?</h2>
    <div class="sliders__item sliders__item--slider1" id="slidr-one">
        <div data-slidr="one" class="slider-inner__wrapper slider-inner__wrapper--1">
            <div class="slider__overlay">
            <button class="slider-inner__button">step 1</button>
            <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
            <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
        <div data-slidr="two" class="slider-inner__wrapper slider-inner__wrapper--2">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 2</button>
                <h2 class="slider-inner__header">Morbi velit risus</h2>
                <p class="slider-inner__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </div>
        </div>
        <div data-slidr="three" class="slider-inner__wrapper slider-inner__wrapper--3">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 3</button>
                <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
                <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
    </div>
    <div class="sliders__item sliders__item--slider2" id="slidr-two">
        <div data-slidr="one" class="slider-inner__wrapper slider-inner__wrapper--1">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 1</button>
                <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
                <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
        <div data-slidr="two" class="slider-inner__wrapper slider-inner__wrapper--2">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 2</button>
                <h2 class="slider-inner__header">Morbi velit risus</h2>
                <p class="slider-inner__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </div>
        </div>
        <div data-slidr="three" class="slider-inner__wrapper slider-inner__wrapper--3">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 3</button>
                <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
                <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
    </div>
    <div class="sliders__item sliders__item--slider3" id="slidr-three">
        <div data-slidr="one" class="slider-inner__wrapper slider-inner__wrapper--1">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 1</button>
                <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
                <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
        <div data-slidr="two" class="slider-inner__wrapper slider-inner__wrapper--2">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 2</button>
                <h2 class="slider-inner__header">Morbi velit risus</h2>
                <p class="slider-inner__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </div>
        </div>
        <div data-slidr="three" class="slider-inner__wrapper slider-inner__wrapper--3">
            <div class="slider__overlay">
                <button class="slider-inner__button">step 3</button>
                <h2 class="slider-inner__header">Sed leo enim, condimentum</h2>
                <p class="slider-inner__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
    </div>
</div>
